@import "../../resources/utils/_colors.scss";

.left-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: $white-1;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  z-index: 2;
}

.left-drawer.open {
  transform: translateX(0%);
}

.left-panel__drawer {
  width: 250px;
  z-index: 2;
}

.left-panel__container {
  height: 100%;
  background-color: $white-1;
}
.left-panel__content {
  margin: 0 20px 20px 20px;
}

.left-panel__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;

  .left-panel__header-btn {
    color: $blue-3;

    &:hover {
      transition: 0.3s;
      color: $blue-4;
    }
  }
}

.left-panel__open-btn {
  position: absolute;
  top: 49%;
  left: -22px;
  width: 42px;
  height: auto;
  color: $blue-3;
  z-index: 1;

  &:hover {
    transition: 0.3s;
    left: -18px;
    color: $blue-4;
  }
}
