$white-0: #ffffff;
$white-1: #eef1ef;

$cream-1: #fdf0d5;
$cream-2: #e9d8a6;

$black-0: #000000;
$black-1: #1c2321;
$black-2: #414535;

$gray-1: #7d98a1;
$gray-2: #5e6572;
$gray-3: #96bbbb;

$blue-1: #a9b4c2;
$blue-2: #5db7de;
$blue-3: #0077b6;
$blue-4: #023e8a;
$blue-5: #03045e;

$red-1: #e63946;
$red-2: #ae2012;
$red-3: #bc4749;

$green-1: #588157;
$green-2: #90a955;
$green-3: #8ac926;

$yellow-1: #ffd60a;
$yellow-2: #ffc300;
